body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

#container {
  width: 100%;
  height: 90%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#innerContent {
  width: 75%;
  height: 100%;
  float: left;
}

#imageShower {
  width: 500px;
  height: 500px;
  background-color: lightgray;
}

#buttonContainer {
  width: 100%;
  height: 10%;
  margin-top: 5px;
}
p {
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 15px;
}
#buttonContainer button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
